:root {
	--header-color: #000000;
	--header-text-color: #ffffff;
	--header-text-hover: #427ab3;
	--text-color-normal: #000000;
	--text-color-link: #666666;
	--text-color-temporary: #999999;
	--box-color-skeleton: #cccccc;
	--background-color-normal: #ffffff;
	--background-color-ok: #ccffcc;
	--background-color-error: #ffcccc;
	--border-color-normal: #cccccc;
	--border-color-hover: #ddddaa;
	--shadow-color-normal: #eeeeee;
	--shadow-color-hover: #eee4aa;
	--event-color-delete: #cb4c48;
	--event-color-save: #427ab3;
	--event-color-active: #fff8bb;
	--event-active-transition: 0.2s;
	--toast-color-info: #eeeeee;
	--toast-color-success: #66cc99;
	--toast-color-warning: #ffe4aa;
	--toast-color-error: #cb4c48;;
}

* {
	font-family: Avenir, Helvetica, Arial, sans-serif;
}

#app {
	display: flex;
	flex-direction: column;
}

.body {
	margin: 0;
	padding: 0;
}

.header {
	margin: 0;
	padding: 10px;
}

.header--top-bar {
	color: var(--header-text-color);
	background-color: var(--header-color);
}

.nav {
	padding: 10px;
}

.main {
	flex: 1;
	margin: 0;
	padding: 0;
}

.footer {
	margin: 0;
	padding: 20px 10px;
}

.hr {
	margin: 5px 0;
}

.h1 {
	margin: 0;
	padding: 0;
}

.h1--dashboard-skeleton {
	color: var(--box-color-skeleton);
	background-color: var(--box-color-skeleton);
}

.h1--main-title {
	float: left;
	font-size: 20px;
}

.section {
	margin: 10px;
	padding: 10px;
	background-color: var(--background-color-normal);
	border: 1px solid var(--border-color-normal);
	border-radius: 10px;
}

.section--index-menu {
	min-height: 5em;
}

.section--index-unavailable {
	color: var(--text-color-temporary);
}

.section--split-one {
	box-sizing: border-box;
	width: calc(100% - 20px);
}

.section--split-two {
	box-sizing: border-box;
	width: calc(50% - 20px);
	float: left;
}

.section--split-three {
	box-sizing: border-box;
	width: calc(33% - 20px);
	float: left;
}
@media screen and (max-width:767px){
	.section--split-three {
		width: calc(100% - 20px);
	}
}
@media screen and (max-width:640px){
	.section--split-two {
		width: calc(100% - 20px);
	}
}

.section--dashboard-linktodetail {
	cursor: pointer;
	box-shadow: 0px 0px 4px 1px var(--shadow-color-normal);
}

.section--dashboard-linktodetail:hover {
	transition: var(--event-active-transition) ease;
	background-color: var(--event-color-active);
	border-color: var(--border-color-hover);
	box-shadow: 0px 0px 4px 1px var(--shadow-color-hover);
}

.section--event-buttons {
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	display: flex;
	flex-wrap: wrap;
}

.section--toaster-box {
	border-radius: 5px;
	margin-bottom: 30px;
	opacity: 0;
}

.section--toaster-activate {
	transition: opacity var(--event-active-transition) ease;
	opacity: 1;
}

.section--toaster-info {
	background-color: var(--toast-color-info);
}

.section--toaster-success {
	border: 0;
	background-color: var(--toast-color-success);
}

.section--toaster-warning {
	border: 0;
	background-color: var(--toast-color-warning);
}

.section--toaster-error {
	color: white;
	border: 0;
	background-color: var(--toast-color-error);
}

.button {
	color: white;
	font-size: 1em;
	font-weight: bold;
	height: 3em;
	flex: 1;
	border: 1px solid var(--border-color-normal);
	cursor: pointer;
}

.button--data-save {
	background-color: var(--event-color-save);
}

.button--data-save:hover {
	color: var(--event-color-save);
	background-color: white;
	border-color: var(--event-color-save);
}

.button--data-delete {
	background-color: var(--event-color-delete);;
}

.button--data-delete:hover {
	color: var(--event-color-delete);;
	background-color: white;
	border-color: var(--event-color-delete);;
}

.button:hover {
	transition: var(--event-active-transition) ease;
}

.button:active {
	background-color: var(--event-color-active);
}

.div {
	margin: 0;
	padding: 0;
}

.div--user-status {
	float: right;
}

.div--user-icon {
	color: black;
	font-size: 14px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
    height: 20px;
	width: 30px;
	background-color: white;
	border-radius: 15px;
	text-align: center;
	cursor: pointer;
}

.div--user-menu {
	position: absolute;
	background-color: #000000;
	color: white;
	right: 0;
	top: 50px;
}

.div--dashboard-box {
	width: 100%;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}

.div--dashboard-item {
	width: 100%;
}

.div--org-title {
	margin: 0 1em;
	font-size: 1.5em;
	font-weight: bold;
}

.div--org-listitem {
	margin: 1em;
	padding: 0.5em;
	min-height: 1.5em;
	display: flex;
}

.div--org-button {
	cursor: pointer;
	text-decoration: underline;
	background-color: var(--background-color-normal);
	border-radius: 10px;
}

.div--org-button:hover {
	background-color: var(--event-color-active);
	transition: var(--event-active-transition) ease;
	box-shadow: 0px 0px 4px 1px var(--shadow-color-hover);
}

.div--listfilter-item {
	display: flex;
	margin: 5px 0 5px 0;
}

.div--list-result {
	margin: 10px;
}

.div--table-box {
	margin: 10px;
	overflow-x: auto;
}

.span {
	background-color: transparent;
}

.span--titlebutton-index {
	cursor: pointer;
}

.span--titlebutton-index:hover {
	color: var(--header-text-hover);
	text-shadow: var(--header-text-hover) 0 0 4px;
	transition: color var(--event-active-transition) ease;
}

.span--titlebutton-main {
	cursor: pointer;
}

.span--titlebutton-main:hover {
	color: var(--event-color-active);
	text-shadow: var(--event-color-active) 0 0 4px;
	transition: color var(--event-active-transition) ease;
}

.span--navbutton-back {
	cursor: pointer;
	color: var(--text-color-link);
}

.span--navbutton-back:hover {
	text-decoration: underline;
}

.span--navbutton-delete {
	cursor: pointer;
	float: right;
	color: var(--event-color-delete);
}

.span--navbutton-delete:hover {
	text-decoration: underline;
}

.span--org-listitem {
	color: var(--text-color-normal);	
}

.span--detail-attributename {
	width: 120px;
	display: block;
}

.span--org-skeletonbox {
	display: inline-block;
	color: var(--box-color-skeleton);
	background-color: var(--box-color-skeleton);
	width: 100%;
}

.span--list-result {
	font-size: 0.9em;
}

.input {
	-webkit-appearance: none;
}

.input--detail-attribute {
	width: calc(100% - 122px);
	font-size: 1em;
	margin: 0;
	padding: 1px;
	border-width: 0 0 1px 0;
	border-color: var(--border-color-normal);
}

.input--list-filter {
	width: 100%;
	border-width: 0 0 1px 0;
	border-color: var(--border-color-normal);
}

.select--detail-attribute {
	width: calc(100% - 122px);
	font-size: 1em;
	padding: 1px;
	border-width: 0 0 1px 0;
	border-color: var(--border-color-normal);
}

.select--list-filter {
	width: 100%;
	border-width: 0 0 1px 0;
	border-color: var(--border-color-normal);
}

.ul {
	list-style: none;
	margin: 0;
	padding-inline-start: 0;
}

.li {
	margin: 0;
	padding: 0;
}

.li--menu-item {
	cursor: pointer;
	padding: 1em;
}

.li--menu-item:hover {
	background-color: white;
	color: black;
}

.label {
	font-size: 0.9em;
}

.label--list-filter {
	min-width: 150px;
}

.label--filter-on {
	font-weight: bold;
	text-decoration: underline;
	background-color: var(--event-color-active);
}

.table--main-list {
	width: 100%;
	border-collapse: collapse;
	font-size: 0.9em;
}

.table--main-list th {
	text-align: left;
}

.tr--row-header {
	border-color: #000000;
	border-style: solid;
	border-width: 0 0 1px 0;
}

.tr--row-selectable {
	cursor: pointer;
	height: 3em;
}

.tr--row-selectable:hover {
	text-decoration: underline;
}

.td--customer-no {
	white-space: nowrap;
	padding-right: 10px;
}

.td--customer-name {
	white-space: nowrap;
	padding-right: 10px;
}

.td--customer-address {
	white-space: nowrap;
	padding-right: 10px;
}