:root {
	--text-color-normal: #000000;
	--text-color-link: #666666;
	--text-color-temporary: #666666;
	--background-color-normal: #ffffff;
	--background-color-ok: #ccffcc;
	--background-color-error: #ffcccc;
	--border-color-normal: #cccccc;
	--shadow-color-normal: #eeeeee;
	--event-color-delete: #cb4c48;
	--event-color-save: #427ab3;
	--event-color-active: #fff8bb;
	--event-active-transition: 0.2s;
}

* {
	font-family: Avenir, Helvetica, Arial, sans-serif;
}

#app {
	display: flex;
	flex-direction: column;
}

.body {
	margin: 0;
	padding: 0;
}

.header {
	margin: 0;
	padding: 10px;
}

.nav {
	padding: 10px;
}

.main {
	flex: 1;
	margin: 0;
	padding: 0;
}

.footer {
	margin: 0;
	padding: 20px 10px;
}

.hr {
	margin: 5px 0;
}

.h1 {
	margin: 0;
	padding: 0;
}

.section {
	margin: 10px;
	padding: 10px;
	background-color: var(--background-color-normal);
	border: 1px solid var(--border-color-normal);
	border-radius: 10px;
	box-shadow: 3px 3px 4px 2px var(--shadow-color-normal);
}

.section--split-one {
	box-sizing: border-box;
	width: calc(100% - 20px);
}

.section--split-two {
	box-sizing: border-box;
	width: calc(50% - 20px);
	float: left;
}

.section--split-three {
	box-sizing: border-box;
	width: calc(33% - 20px);
	float: left;
}
@media screen and (max-width:767px){
	.section--split-three {
		width: calc(100% - 20px);
	}
}
@media screen and (max-width:640px){
	.section--split-two {
		width: calc(100% - 20px);
	}
}

.section--dashboard-linktodetail {
	cursor: pointer;
}

.section--dashboard-linktodetail:hover {
	transition: var(--event-active-transition) ease;
	background-color: var(--event-color-active);
}

.section--event-buttons {
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	display: flex;
	flex-wrap: wrap;
}

.button {
	color: white;
	font-size: 1em;
	font-weight: bold;
	height: 3em;
	flex: 1;
	border: 1px solid var(--border-color-normal);
}

.button--data-save {
	background-color: var(--event-color-save);
}

.button--data-save:hover {
	color: var(--event-color-save);
	background-color: white;
	border-color: var(--event-color-save);
}

.button--data-delete {
	background-color: var(--event-color-delete);;
}

.button--data-delete:hover {
	color: var(--event-color-delete);;
	background-color: white;
	border-color: var(--event-color-delete);;
}

.button:active {
	background-color: var(--event-color-active);
	transition: var(--event-active-transition) ease;
}

.div {
	margin: 0;
	padding: 0;
}

.div--dashboard-box {
	width: 100%;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}

.div--dashboard-item {
	width: 100%;
}

.div--org-loading {
	margin: 1em;
	color: var(--text-color-temporary);
}

.div--org-listitem {
	margin: 1em;
	display: flex;
}

.span {
	background-color: transparent;
}

.span--navbutton-back {
	cursor: pointer;
	color: var(--text-color-link);
}

.span--navbutton-delete {
	cursor: pointer;
	float: right;
	color: var(--event-color-delete);
}

.span--button-detail {
	cursor: pointer;
	color: var(--text-color-link);
	text-decoration: underline;
}

.span--org-listitem {
	color: var(--text-color-normal);	
}

.span--detail-attributename {
	width: 120px;
	display: block;
	float: left;
}

.input {
	-webkit-appearance: none;
}

.input--detail-attribute {
	width: calc(100% - 122px);
	font-size: 1em;
	margin: 0;
	padding: 1px;
	border-width: 0 0 1px 0;
	border-color: var(--border-color-normal);
}